.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20px;
  justify-content: space-around;
}

.content label {
  color: var(--secondary-blue);
}
.flex {
  display: flex;
  justify-content: space-evenly;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputContainer label {
  font-size: 1.2rem;
}

.inputContainer input {
  letter-spacing: 0.03rem;
  font-size: 1.1rem;
}

.inputContainer div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.emailInput input {
  width: 200px;
}

.priceInput input {
  width: 80px;
  text-align: center;
}

.priceInput input[type="number"] {
  -moz-appearance: textfield;
}

.priceInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.priceInput input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.closeBtn {
  text-align: end;
  margin-right: 10px;
}

.subBtns {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
