.thumb {
  width: 120px;
  height: 45px;
  border-radius: var(--small-radius);
  margin: 0 2rem;
}

.title {
  font-size: 1.8rem;
}

.steamRating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  padding: 0 5px;
}

.steamRating h1 {
  font-size: 1.2rem;
}

.steamRating span {
  color: var(--positive-green);
  font-size: 1.8rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  padding: 5px 0;
}

.price {
  margin-left: auto;
}

.normal {
  font-size: 1.2rem;
  text-decoration: line-through;
  margin: 0 0.5rem;
}

.sale {
  font-size: 1.8rem;
  margin: 0 0.5rem;
}

.savings {
  margin: 0 0.5rem;
  font-size: 1.8rem;
  color: var(--alert-red);
}

.arrow {
  display: flex;
  margin: 0 0.5rem;
  justify-content: flex-end;
}

.arrow svg:hover {
  fill: var(--secondary-blue);
}

.arrow svg {
  cursor: pointer;
}

.hidden {
  height: 0px;
  width: 0px;
  overflow: hidden;
}

.dropdown {
  display: flex;
  flex: 1 1 100%;
  height: 100px;
  padding: 5px;
  transition: ease height .3s;
  justify-content: space-between;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 30px;
  font-size: 1.2rem;
}

.actions svg {
  fill: black;
}

.iconAction {
  display: flex;
  padding-top: 1px;
}

.iconAction span {
  margin: 0 0 0 10px;
  align-self: center;
  height: 24px;
}


@media screen and (max-width: 1000px) {
  .title,
  .price,
  .arrow,
  .thumb {
    text-align: center;
    width: 100%;
  }
  .actions {
    margin: 0;
  }

  .card {
    min-height: 210px;
    max-width: 600px;
    width: auto;
  }

  .arrow {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 650px) {
  .iconAction a {
    padding: 0;
  }

  .dropdown {
    flex-direction: column;
  }
}
