@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");

:root {
  --primary-gray: #1d1f1f;
  --secondary-gray: #303030;
  --terciary-gray: #3f4346;
  --primary-blue: #098ee6;
  --secondary-blue: #63b1e6;
  --primary-white: #b4b2b0;
  --alert-red: #af5858;
  --positive-green: #84ab76;
  --small-radius: 0.1rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Teko", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  background-color: var(--primary-gray);
  color: var(--primary-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
n body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

li {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  padding: 0.5rem;
  color: var(--primary-white);
}

a:hover {
  color: var(--secondary-blue);
}

input {
  background-color: var(--primary-white);
  border: none;
  border-radius: var(--small-radius);
}

.page-container {
  width: 1200px;
  min-width: 380px;
  margin: 0 auto;
}

.nav-buffer {
  height: 66px;
}

/* Game card styles */

.gamecard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gamecard {
  display: flex;
  flex: 1 1 100%;
  width: 100%;
  height: auto;
  background-color: var(--terciary-gray);
  border-radius: var(--small-radius);
  margin: 0.6rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  border-radius: var(--small-radius);
  padding: 5px;
  width: 100%;
  height: 70px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.308);
}

.loader p {
  font-size: 2rem;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .page-container {
    width: 100%;
  }
}
