@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");

:root {
  --primary-gray: #1f1f1f;
  --secondary-gray: #303030;
  --terciary-gray: #3b3b3b;
  --primary-blue: #098ee6;
  --secondary-blue: #3ea3e6;
  --primary-white: #bdbdbd;
  --alert-red: #9b1e1e;
  --positive-green: #326520;
  --small-radius: 0.1rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Teko", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--primary-gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: var(--primary-white);
}

li {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  padding: 0.5rem;
  text-transform: uppercase;
  color: var(--primary-white);
}

input {
  background-color: var(--primary-white);
  border: none;
  border-radius: var(--small-radius);
}

.page-container {
  width: 1200px;
  min-width: 400px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .page-container {
    width: auto;
  }
}
