@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");

:root {
  --primary-gray: #0d1117;
  --secondary-gray: #181e2a;
  --terciary-gray: #1f2b34;
  --primary-blue: #098ee6;
  --secondary-blue: #63b1e6;
  --primary-white: #b4b2b0;
  --alert-red: #af5858;
  --positive-green: #84ab76;
  --small-radius: 4px; 
}

/* Resets */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Teko", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/bg3.jpg');
  background-attachment: fixed;
  background-attachment: center;
  background-repeat: no-repeat;
  height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  background-color: var(--primary-gray);
  color: var(--primary-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
n body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

li {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Base Styles */

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  padding: 0.5rem;
  color: var(--primary-white);
  cursor: pointer;
}

a:hover {
  color: var(--secondary-blue);
}

input {
  background-color: var(--primary-white);
  border: none;
  border-radius: var(--small-radius);
}

.nav-buffer {
  height: 66px;
}

/* Buttons  */

button {
  height: 40px;
  background: transparent;
  border: none;
  color: var(--primary-white);
  font-size: 1.2rem;
  padding: 0;
  cursor: pointer;
}

button:hover {
  color: var(--secondary-blue);
}

.to-top-btn {
  position: fixed;
  top: 50;
  bottom: 0;
  left: 50;
  right: 0;
  margin: auto;
  width: 48px;
  height: 36px;
  color: var(--primary-white);
  border-radius: var(--small-radius);
  background-color: var(--secondary-gray);
}

.hide {
  display: none;
}

.page-container {
  width: 1200px;
  min-width: 370px;
  margin: 0 auto;
}
/* Game card styles */

.gamecard {                                                                                                                                                                                                                           
display: flex;                                                                                                                                                                                                                      
flex: 1 1 100%;                                                                                                                                                                                                                     
width: 100%;                                                                                                                                                                                                                        
height: 100px;                                                                                                                                                                                                                      
background-color: var(--terciary-gray);                                                                                                                                                                                             
border-radius: var(--small-radius);                                                                                                                                                                                                 
margin: 0.6rem;                                                                                                                                                                                                                     
transition: ease .3s;                                                                                                                                                                                                               
cursor: pointer;                                                                                                                                                                                                                    
opacity: .6;
}                

.gamecard:hover {
  transform: scale(1.009);
  opacity: 1;
}

.gamecard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  border-radius: var(--small-radius);
  padding: 5px;
  width: 100%;
  height: 70px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.308);
}

.loader p {
  font-size: 2rem;
}

/* Utilities */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.title {
  color: var(--secondary-blue);
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.486);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  min-width: 350px;
  max-width: 500px;
  height: 220px;
  color: var(--primary-white);
  border-radius: var(--small-radius);
  background-color: var(--secondary-gray);
}

/* Slide Out Menu  */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 17px;
}

.bm-burger-bars {
  background-color: var(--primary-white);
  border-radius: var(--small-radius);
}

.bm-cross-button {
  display: none !important;
}

.bm-menu-wrap {
  position: fixed;
  height: auto !important;
  width: 200px !important;
  top: 60px;
}

.bm-menu {
  background: var(--secondary-gray);
  font-size: 1.15em;
}

.bm-item {
  display: inline-block;
  margin: 10px;
  font-size: 1.3rem;
  transition: color 0.2s;
}

.bm-item:hover {
  color: var(--secondary-blue);
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .page-container {
    width: 100%;
  }
  .header {
    margin: 0 15px;
  }
}

@media screen and (max-width: 600px) {
  .toTopBtn {
    width: 100%;
  }
}
